.custom-navbar {
    position: relative;
    background-color: #ed002d;
}

.burger-button {
    display: inline;
}

.logo-container img.img-fluid {
    max-height: 50px;
    width: auto;
}

.navbar-menu {
    display: none;
}

.navbar-menu-item-toggle {
    display: none;
}

.btn:hover {
    border-color: transparent;
    box-shadow: none;
}

.btn:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    width: 32px;
    height: 32px;
}

.follow-us {
    font-weight: bold;
    color: deeppink;
}

.twitter-x-container {
    background-color: aqua;
}

.instagram-container {
    background-color: deeppink;
}

.navbar-rhs {
    position: absolute;
    right: 0;
    height: 100%;
}

.shape {
    display: flex;
    align-items: center;

    background-color: rgb(183, 0, 36);
    width: auto;
    height: 100%;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.inline-scrollbar-wrapper {
    scrollbar-width: none;
}

.navbar-link {
    color: black;
    text-decoration: none;

    font-size: 13px;
    font-weight: bold;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-secondary-height {
    height: 33px;
}

.navbar-primary-height {
    height: 50px;
}

.main-article-divider {
    background-color: #ed002d;
    height: 5px;
}

.big-article-body {
    background-color: rgb(39, 39, 39);
}

.main-article-title {
    font-size: 24px;
}

.main-article-text {
    font-size: 18px;
}

.teaser-article {
    font-size: 16px;
}

.bookmark-text {
    font-size: 12px;
    font-weight: bold;
}

.article-group-big-article-title {
    font-size: 24px;
}

@media (min-width: 768px) {
    .logo-container img.img-fluid {
        max-height: 60px;
        width: auto;
    }

    .navbar-primary-height {
        height: 60px;
    }

    .main-article-title {
        font-size: 32px;
    }

    .main-article-text {
        font-size: 20px;
    }
}

@media (min-width: 1150px) {
    .navbar-link {
        font-size: 11px;
        font-weight: normal;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
    }

    .burger-button {
        display: none;
    }

    .logo-container img.img-fluid {
        max-height: 70px;
        width: auto;
    }

    .navbar-primary-height {
        height: 70px;
    }
}

@media (min-width: 1300px) {
    .navbar-menu-item-toggle {
        display: block;
    }

    .burger-button {
        display: none;
    }

    .logo-container img.img-fluid {
        max-height: 80px;
        width: auto;
    }

    .navbar-primary-height {
        height: 80px;
    }

    .main-article-title {
        font-size: 36px;
    }
}